@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}
*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Dark-Blue);
}
.container{
    width: 550px;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 13px;
    box-shadow: 20px 35px 47px 49px rgba(10, 11, 12, 0.196);
/*     box-shadow: rgba(10, 11, 12, 0.413) 2px 13px 46px 0px, rgba(10, 11, 12, 0.208) 0px 0px 0px 0.3px; */
    position: relative;
}
.advice-box{
    margin-bottom: 80px;
    padding: 32px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    gap: 20px;
}
.advice-id{
    color: var(--Neon-Green);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 10px;
    font-size: 12px;
}
.advice-text{
    color: var(--Light-Cyan);
    font-size: 28px;
}
picture img{
    margin-top: 20px;
    margin-bottom: 20px;
}
#advice-btn{
    position: absolute;
    bottom: -30px;
    background-color: var(--Neon-Green);
    border: none;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#advice-btn:hover{
    filter: drop-shadow(0px 0px 12px hsl(150, 100%, 66%));
    transition: all 0.2s ease-out
}
@media screen and (max-width:375px) {
    .container{
        width: 350px;
    }
    
}
